# Assignment on lists,tuples and dictionary

In [8]:
list1=['Arnab','Arijit','Aniket','Subham','Sumedha','Tiyasha','Triasa','Madhu','Prajeet','Shounak']
print("the original list is",list)
list2=[i[0] for i in list1]
print("new list with the first elements are",list2)

the original list is ['Arnab', 'Arijit', 'Aniket', 'Subham', 'Sumedha', 'Tiyasha', 'Triasa', 'Madhu', 'Prajeet', 'Shounak']
new list with the first elements are ['A', 'A', 'A', 'S', 'S', 'T', 'T', 'M', 'P', 'S']

In [4]:
list1=['arnab','arijit','aniket','subham','sumedha','tiyasha','triasa','madhu','prajeet','shounak']
list2=[]
print("the original list is",list1)
ch=input("Enter a single charcter ")
ch=ch.lower()
for i in list1 :
    if ch in i[0] :
        list2.append(i)
if len(list2)==0 :
    print("no words in the list with that character")
else :
    print("The list with the character ",ch,"is",list2)

the original list is ['arnab', 'arijit', 'aniket', 'subham', 'sumedha', 'tiyasha', 'triasa', 'madhu', 'prajeet', 'shounak']
Enter a single charcter a
The list with the character  a is ['arnab', 'arijit', 'aniket']

In [16]:
tuplex=(5,8,3,7,0,1,2,4,12,2)
slice=tuplex[3:5]
print(slice)
slice=tuplex[:6]
print(slice)
slice=tuplex[5:]
print(slice)
slice=tuplex[:]
print(slice)
slice=tuplex[-6:-3]
print(slice)
tuplex=tuple("HELLO WORLD")
print(tuplex)
slice=tuplex[2:9:2]
print(slice)
slice=tuplex[::4]
print(slice)
slice=tuplex[9:2:-4]
print(slice)

(7, 0)
(5, 8, 3, 7, 0, 1)
(1, 2, 4, 12, 2)
(5, 8, 3, 7, 0, 1, 2, 4, 12, 2)
(0, 1, 2)
('H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D')
('L', 'O', 'W', 'R')
('H', 'O', 'R')
('L', ' ')

In [4]:
num = [10,20,30,40,100,(10,20),40]
ctr = 0
for n in num:
   if isinstance(n, tuple):
      break
   ctr += 1
print("the elements present before the tuple is ",ctr)

the elements present before the tuple is  5

In [3]:
while(1):
    
    try:
        
        n = int(input('Number of employees:'))
        s = {}
        for i in range(n):
            
            employee = {}
            print(f'Employee No. {i+1}')
            employee['name'] = input('Enter name of the employee:')
            employee['id'] = input('Enter employee ID:')
            employee['department'] = input('Enter department of the employee:')
            employee['gender'] = input('Enter gender of the employee:')
            
            s[i] = employee
            print(f'\nEmployee is given the data ID:{i}')
            
        search = int(input('Enter data ID for report:'))
        
        print(f"{s[search]['name']} is a {s[search]['gender']} employee .\nHis employee ID is: {s[search]['id']}.\nThe employee is in the {s[search]['department']} department.")
        break
    
    except:
        print('Wrong input.')

Number of employees:2
Employee No. 1
Enter name of the employee:Subham Tripathi
Enter employee ID:12200119018
Enter department of the employee:CSE
Enter gender of the employee:male

Employee is given the data ID:0
Employee No. 2
Enter name of the employee:Arijit Banerjee
Enter employee ID:122001190000
Enter department of the employee:CSE
Enter gender of the employee:male

Employee is given the data ID:1
Enter data ID for report:1
Arijit Banerjee is a male employee .
His employee ID is: 122001190000.
The employee is in the CSE department.

In [5]:
d={'Dairy milk':30,'lays':10,'kit kat':20}
bill=0
for key in d :
    qnt = int(input(f'Enter quantity of {key} '))
    n=qnt*d[key]
    print(f"total price of {key} is ",n)
    bill=bill+n
print("total bill is ",bill)

Enter quantity of Dairy milk 4
total price of Dairy milk is  120
Enter quantity of lays 9
total price of lays is  90
Enter quantity of kit kat 14
total price of kit kat is  280
total bill is  490

In [3]:
d={}
n=int(input("Enter No. of Friends: "))
for i in range(0,n):
  key=input("Enter Name: ")
  dob=input("YYYY-MM-DD: ")
  d[key]=dob
print(sorted(d)) 
name=input("Enter Name: ")
if name in d:
  print("Date of Birth: ",d[name])
else:
  print("Name not present!")
  p=input("Enter DOB as YYYY-MM-DD: ")
  d[name]=p
  print("Information Updated!")
  print(sorted(d))

Enter No. of Friends: 2
Enter Name: Subham
YYYY-MM-DD: 2001-02-24
Enter Name: Kalyan
YYYY-MM-DD: 2000-03-15
['Kalyan', 'Subham']
Enter Name: Subham
Date of Birth:  2001-02-24